@font-face {
  font-family: 'Noto Sans SC';
  src: url('/src/assets/font/NotoSansSC-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}
